/* TO GET AN IDEA OF THE CSS YOU WILL LIKELY BE USING, SEE THE LISTS BELOW. */

        /* 
        
        Spacing 

            - padding (shorthand and/or specific properties like padding-bottom, etc.)

            - margin, (shorthand and/or specific properties like margin-top, etc.)

            - letter-spacing, word-spacing, line-height

            - width, max-width, min-width
            - height, max-height, min-height

        Typography 

            - font-family, font-size, font-style, font-weight

            - text-decoration, text-align

            - color

            - text-shadow, text-transform

        Box, Layout and Border 

            - border (shorthand and/or specific properties like border-top, border-bottom-radius, border-width, etc.)

            - box-shadow

            - display, float, align-items, align-content

            - grid-template-columns, grid-column-gap

            - transform

        Other

            - :nth()-child (to target specific child elements)

            - :focus, :hover, :active (to target link states)

            - @font-face or @import (to import typefaces)

        */


/* ------ START WRITING YOUR CODE BELOW ------ */

@font-face {
	font-family: 'RobotoRegular';
	src: url('../fonts/sans-serif/roboto-regular.ttf') format('truetype');
}

@font-face {
	font-family: 'RozhaoneRegular';
	src: url('../fonts/serif/rozhaone-regular.ttf') format('truetype');
}

@font-face {
	font-family: 'UltraRegular';
	src: url('../fonts/serif/ultra-regular.ttf') format('truetype');
}

@font-face {
	font-family: 'MontserratRegular';
	src: url('../fonts/sans-serif/montserrat-regular.ttf') format('truetype');
}

h1 {
	font-size: 1.5rem;
	}

h2 {
	font-size: 1.1rem;
	margin-left: 40px;
	margin-top: 50px;
	margin-bottom: 0px;
	}

h3 {
	font-size: 1rem;
	}

p, time {
	font-family: 'MontserratRegular';
}

p {
	font-size: .75rem;
	}

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 0px;
}

.main-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
	padding-left: 20px;
}

.article-image {
    max-width: 100%;
	display: table;
	clear: both;
	float: left;
}

time {
	font-size: .75rem;
	display: block;
	margin-top: 20px;}

button {
	font-size: 16px;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	text-shadow: .125rem .125rem .25rem rgba(0, 0, 0, 0.5);
	display: inline-block;
	margin: 40px 2px;
	cursor: pointer;
	background-color: #708090;
	border: none;
	border-radius: 4px;
	box-shadow: .125rem .125rem .1625rem 0 rgba(0, 0, 0, 0.5);
}

.header {
    font-size: 4rem;
	text-align: center;
    text-shadow: .125rem .125rem .25rem rgba(0, 0, 0, 0.5);
	transform: rotate(-7.5deg);
    margin-bottom: 5rem;
}

.highlight {
    color: #fdf5e6;
	background-color: #800000;
	border-top-left-radius: .625rem;
	border-top-right-radius: 0; 
	border-bottom-right-radius: .625rem;
	border-bottom-left-radius: 0;
    padding: 0 .625rem;
	box-shadow: .125rem .125rem .1625rem 0 rgba(0, 0, 0, 0.5);
	text-shadow: .125rem .125rem .25rem rgba(0, 0, 0, 0.5);}

.highlight, button {
	font-family: 'UltraRegular';
}

nav .menu-horizontal {
	align-items: center;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	font-size: 1.5rem;
	display: flex;
    font-size: 1.5rem;
	height: 4rem;
	justify-content: space-around;
    list-style: none;
    list-style-type: none;
	margin-top: 6rem;
    margin: 0;
    padding: 20px;
	}
	
.menu-horizontal li {
    display: inline;
    margin-right: 20px;
	list-style: none;
    padding: 1rem;
}

.menu-horizontal li a {
	text-decoration: none;
	color: blue;
	font-weight: bold;
}

.menu-horizontal li a:hover {
    color: #000;
	text-decoration: underline;
}

.menu-horizontal li:nth-child(2) a {
  color: black;
  text-decoration: line-through;
  transform: rotate(5deg);
  display: inline-block;
  text-transform: uppercase;
}

.left-column {
    width: 70%;
}

.row1, .row2 {
    padding: 20px;
    margin-bottom: 10px;
}

.row2 .subsection table {
    width: 100%;
    border-spacing: 5px;
	table-layout: fixed;
	border-top-color: linen;}

.row2 .subsection table img {
    max-width: 500px;
    width: 100%;
    height: auto; 
    display: block; 
}

.subsection { 
	padding:0; 
	display:grid; 
	grid-template-columns:repeat(auto-fit, minmax(5rem, 1fr));
	grid-column-gap: 1%; 
}

.row2 .subsection tr:nth-child(2) {
	background-color: linen;
	}

aside img {
    max-width: 500px;
	width: 100%;
}

.right-column {
    border-left: 1px solid #000;
    padding: 20px;
    width: 25%;
    margin-left: auto;
}

.right-column img {
    max-width: 500px;
    height: auto;
    display: block;
}

.right-column p {
	margin-right: 80px;
}

.expand {
  text-decoration: none;
  font-size: .75rem;
  color: black;}
  
footer {
    clear:both;
    overflow:auto;
    margin:3% 2%;
	display: flex;
    justify-content: space-between;
    padding: 1rem;
}

@media screen and (max-width: 600px) {
    .container {
        flex-direction: column;
    }

    .left-column, .right-column {
        width: 100%;
        margin-left: 0;
    }

    .row {
        margin-bottom: 0;
    }
}

